[flake8]
max-line-length = 120
inline-quotes = double

# We use 'black' for coding style; these next two warnings are not PEP-8
# compliant.
# E231 is a bug in 'black', see https://github.com/psf/black/issues/1202
ignore = E203, E231, W503
